/*--------------------Titres, texte de base----------------------*/

h1 {
text-decoration: underline;
font-weight: bold;
font-style: italic;
text-align: left;
font-size: 2.813em; /*45/16*/
font-family: Arial;
}


h2	{
	text-decoration: underline;
	font-size: 2.500em; /*40/16*/
}

h3{
	text-decoration: underline;
	font-size: 1.875em; /*30/16*/
}

h4, h5, h6, ol  {
	text-decoration: underline;
	font-size: 3.125em; /*50/16*/
}

body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f0f0f0;
	font-family: Arial;
	padding: 10px;
}

/*----------------Les navs, actif, header et footer--------------------------*/

.nav-titre {
	float: left;
}
.nav-top {
	float: right;
}

.actif {
	font-weight: bold;
}
#header {
	height: 150px;
}

#footer {
	text-align: right;
	border-top: 2px solid black;
	margin-top: 100px;
}

/*-------------------li, a-----------------------*/

li {
	list-style-type: none;
	display: inline-flex;
}
a {
	text-decoration: none;
	color: #000000;
	margin-right: 10px;
}
a:hover {
	text-decoration: underline;
}

/*---------------------.css---------------------*/

.cssform p{
    width: 300px;
    clear: left;
    margin: 0;
    padding: 5px 0 8px 155px;
    height: 1%;
}

.cssform label{
    font-weight: bold;
    float: left;
    margin-left: -170px;
    width: 150px;
    text-align: right;
}

.cssform input[type=&quot;text&quot;]{
width: 150px;
}

.cssform textarea{
    width: 250px;
    height: 150px;
}

/*------------------Formulaire------------------------*/

* html .threepxfix{
margin-left: 3px;
}

.formulaire {
margin-left: 160px;
margin-top: 100px;
width:	560px;
}

.submit {
margin-left: 450px
}

#firstname{
    width: 380px;
    height: 40px;
	border: none;
}

#lastname{
    width: 380px;
	height: 40px;
    border: none;
}

#comments{
    width: 380px;
    height: 180px;
    padding: 0;
    border: none;
}

.sexe{
    text-decoration: none;
    font-size: 0.813em; /*13/16*/
	color: black;
	font-weight: bold;
}

input[name=sexe] {
    margin-right: 35px;
}

/*------------------Blocs div page portfolio------------------------*/
main{
	float: center;
    margin-bottom: 30px;
}

/* Box */
#box1 {
	margin-top: 80px;
	width: 780px;
	height: 500px;
	position: relative;
}

#box2 {
	width: 260px;
	height: 230px;
	position: absolute;
	top: 166px;
	left: 640px;
	background-color: white;
	padding: 20px;
	font-size:0.938em; /*15/16*/
	font-weight: bold;
	font-style: italic;
}
#box3, #box4 {
  width: 620px;
  height: 400px;
  float: left;
}
#box4 {
  float: right;
}

#portfolio1 {
	margin-bottom: 46px;
    text-align: left;
	width: 940px;
	height: 400px;
}
#text1 {
	float: right;
	width: 300px;
	height: 400px;
	margin-left: 20px;
	font-size: 0.938em; /*15/16*/
}
#portfolio2 {
	margin-bottom: 46px;
    text-align: right;
	width: 940px;
	height: 400px;
}
#text2 {
	float: left;
	width: 300px;
	height: 400px;
	margin-right: 20px;
	font-size: 0.938em; /*15/16*/
}

.texte-portfolio{
	margin-bottom:50px;
}
.imageaccueil {
	float: left;
}

